html, body, #root {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Raleway", "Open Sans", "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
